- name: Record (initial) disk space used
  shell: df -B1 --output=used / | tail -1
  register: df1


- name: "Install prerequisite packages"
  package:
    name:
      - wget
      - curl
      - tar
    state: present


- name: "Create VS Code Server directories: {{ vscode_server_base }}, {{ vscode_server_data_dir }}, {{ vscode_server_extensions_dir }}"
  file:
    state: directory
    path: "{{ item }}"
    owner: "{{ vscode_server_user }}"
    group: "{{ apache_user }}"
    mode: '0755'
  with_items:
    - "{{ vscode_server_base }}"
    - "{{ vscode_server_data_dir }}"
    - "{{ vscode_server_extensions_dir }}"


- name: Detect system architecture
  set_fact:
    vscode_arch: "{{ 'arm64' if ansible_architecture == 'aarch64' else ('armv7l' if ansible_architecture == 'armv7l' else 'amd64') }}"


- name: "Download code-server {{ vscode_server_version }} for {{ vscode_arch }}"
  get_url:
    url: "https://github.com/coder/code-server/releases/download/v{{ vscode_server_version }}/code-server-{{ vscode_server_version }}-linux-{{ vscode_arch }}.tar.gz"
    dest: "/tmp/code-server-{{ vscode_server_version }}-linux-{{ vscode_arch }}.tar.gz"
    timeout: "{{ download_timeout }}"


- name: Extract code-server archive
  unarchive:
    src: "/tmp/code-server-{{ vscode_server_version }}-linux-{{ vscode_arch }}.tar.gz"
    dest: "/tmp"
    remote_src: yes


- name: Move code-server to installation directory
  shell: |
    rm -rf {{ vscode_server_install_dir }}
    mv /tmp/code-server-{{ vscode_server_version }}-linux-{{ vscode_arch }} {{ vscode_server_install_dir }}


- name: Create symlink for code-server binary
  file:
    src: "{{ vscode_server_install_dir }}/bin/code-server"
    dest: /usr/local/bin/code-server
    state: link


- name: Install VS Code Server systemd service from template
  template:
    src: vscode-server.service.j2
    dest: /etc/systemd/system/vscode-server.service
    owner: root
    group: root
    mode: '0644'


- name: Install nginx configuration for VS Code Server
  template:
    src: vscode-nginx.conf.j2
    dest: "{{ nginx_conf_dir }}/vscode-server.conf"
    owner: root
    group: root
    mode: '0644'
  when: nginx_install


- name: Reload systemd daemon
  systemd:
    daemon_reload: yes


# RECORD VS Code Server AS INSTALLED

- name: Record (final) disk space used
  shell: df -B1 --output=used / | tail -1
  register: df2

- name: Add 'vscode_server_disk_usage = {{ df2.stdout | int - df1.stdout | int }}' to {{ iiab_ini_file }}
  ini_file:
    path: "{{ iiab_ini_file }}"
    section: vscode-server
    option: vscode_server_disk_usage
    value: "{{ df2.stdout | int - df1.stdout | int }}"

- name: "Set 'vscode_server_installed: True'"
  set_fact:
    vscode_server_installed: True

- name: "Add 'vscode_server_installed: True' to {{ iiab_state_file }}"
  lineinfile:
    path: "{{ iiab_state_file }}"
    regexp: '^vscode_server_installed'
    line: 'vscode_server_installed: True'
